<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbatchsample.batch.ClientMapper">

	<select id="selecter" resultType="com.example.springbatchsample.batch.ClientDto">
		SELECT
		  client_id AS clientId,
		  client_name AS clientName
		FROM
		  clients
	</select>

	<update id="updater" parameterType="com.example.springbatchsample.batch.ClientDto">
		UPDATE
		  clients
		SET
		  client_name = #{clientName}
		WHERE
		  client_id = #{clientId}
	</update>
</mapper>